

#timer {
	display: none;
}

h1 {
	text-align: center;
	color: blue;
	background-color: #BB8FCE;
	padding: 1%;
	border: 3px dashed blue;
}

#questionBox {
	display: none;
	margin: auto;
	width: 100%;
	border: 3px dashed blue;
	padding: 2% 20% 2% 20%;
}

#start {
	margin: 0 40% 0 40%;
	
	border: 3px dashed blue;
	padding: 2%;
}

.container {
	margin: auto;
	width: 100%;
	
	padding: 2%;
}

header {

}




