body {
	background-image: url('../images/maxresdefault.jpg');
}

#timer {
	display: none;
	text-align: center;
	color: blue;
	background-color: #BB8FCE;
	padding: 1%;
	border: 3px dashed blue;
	font-size: 20px;

}

h1 {
	text-align: center;
	color: blue;
	background-color: #BB8FCE;
	padding: 1%;
	border: 3px dashed blue;
}

#questionBox {
	display: none;
	margin: auto;
	width: 100%;
	border: 3px dashed blue;
	padding: 2% 10% 2% 10%;
	background-color: white;
}

#start {
	margin: 0 40% 0 40%;
	
	border: 3px solid blue;
	padding: 0%;
	color: blue;
	background-color: #BB8FCE;
}

.container {
	margin: auto;
	width: 100%;
	padding: 2%;

}

header, #endScreen {
	text-align: center;
	color: blue;
	background-color: #BB8FCE;
	padding: 1%;
	border: 3px dashed blue;
}

#endScreen {
	display: none;
	font-size: 20px;
}

h3 {
	margin: 0;
	background-color: #D5D8DC;
}




